@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* .slider_container .container{
  width:100%;
} */
.navbar {
  padding: 23px;
  border-bottom: 1px solid #d5d5d5;
}
.image-container {
  padding: 0px 20px 0px 0px;
}

.btn {
  background: #dc2316;
  color: black;
}

.btn:hover {
  background-color: #dc2316;
  color: white;
}

li .nav-link {
  color: black;
}
li .nav-link:hover {
  background-color: #281571;
  border-radius: 5px;
  color: #ffff;
}

/* main-section */

.services-provide-section .project-container{

  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  gap:20px;
}
.services-provide-section .project-container.grid-item{
  display: grid;
  place-items: center;
}
.services-provide-section .project-container .service-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.project-container .grid-item .RIS-section p{
  border-bottom: 1px solid white;
}
.project-container .grid-item .RIS-section .learn-more a{
  color: transparent;
}
.project-container .grid-item .RIS-section{
padding: 2rem 2rem 0.5rem 2rem;
position: relative;
top: -17.5rem;
color:white;
margin-bottom: -14.5rem;
transition: 0.5s ease-in-out;
transform: translateY(100px);
}
.service-card:hover{
  transition: scale(1.05);
  transition: 1s ease-in-out;
}

.service-card:hover img{
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}

.project-container .grid-item:hover .learn-more a{
  color:black
}

.project-container .service-card:hover .RIS-section{
  transform: translateY(0px);
}

a{
  text-decoration: none;
  color: black;
}
.learn-more {
  text-decoration: none;
  border: 1px solid #ffff;
  color: #ffff;
  padding: 5px 90px 5px 0;
  overflow: hidden;
}
.learn-more span {
  display: inline-block;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 10px;
  transform: translateX(-50px);
  transition: 0.5s all ease-in-out;
}
.learn-more:hover span {
  transform: translateX(150px);
}

.learn-more:hover {
  border-left: none;
  border-bottom: none;
}

/* footer-section */

.footer-section{
  background: #191919;
  color:white;
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  
}

li{
  list-style-type: none;
}

.footer-section p{
  text-align: justify;
  font-weight: 300;
}

.footer-section li{
  margin: 5px;
  font-weight: 300;
  font-size: 16px;
}

.footer-section .container .Home{
  padding-left:50px;
}

.footer-section .container .About{
  padding-left:50px;
}


.footer-section .contact .location{
  display: flex;
  gap:5px;
}

.footer-section span i{
  margin-top:10px;
  height: 20px;
  width: 20px;
}

.contact .image-container{
  width: 36px;
  padding:10px;
}

li:nth-child(1) {
  font-weight: 400;
  font-size: 18px;
}

.footer-section .Social{
  font-size: 18px;
  font-weight: 400;
}

.footer-section .social-icons{
  display: flex;
  padding-top:10px;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  
}


.footer-section .social-icons .facebook {
  width:36px;
  height: 35px;
  padding:1px;
  color:black;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
}
.footer-section .social-icons .linkdin {
  width:36px;
  height: 35px;
  padding:1px;
  color:black;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
}
.footer-section .social-icons .twitter {
  width:36px;
  height: 35px;
  padding:1px;
  color:black;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
}

.footer-section .container .row{
  border-bottom: 1px solid #ccc;
}
 
@media (max-width:786px){
  .footer-section .container .Home{
    padding-left: 0px;
  } 
  .footer-section .container .About{
    padding-left: 0px;
  }
  .footer-section .Social{
    padding-left:20px;
  }
}

@media (max-width:450px){
.services-provide-section .project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.services-provide-section .project-container .service-card {
  width: 300px;
}
.footer-section .container p{
  margin-bottom: 0px;
}
.footer-section{
  font-size: 14px;;
}
.footer-section li{
  font-size: 14px;
}
}